.parentElement {
  position: relative;
  transform: translateY(-50%);
  background-color: black;
  .childElement {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
      
      height:100px;width: 100px
  }
  // .childElement {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  // }

}