    <form (ngSubmit)="onSubmit()" [formGroup]="personalInfoForm" >
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>Drawer content</mat-drawer>
      <mat-drawer-content>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="22.5">
            <mat-label>Prefix</mat-label>
            <mat-select formControlName="prefix">
              <mat-option *ngFor="let prefix of prefixList" [value]="prefix.key">
                {{prefix.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="45" >
            <input matInput placeholder="Favorite food" value="Sushi" formControlName="firstName">
          </mat-form-field>
          <mat-form-field fxFlex="45" fxFlexOffset="5" >
            <input matInput placeholder="Favorite food" value="Sushi1" formControlName="lastName">
          </mat-form-field>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="45">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
          <mat-form-field fxFlex="45" fxFlexOffset="5">
            <mat-label>Prefix</mat-label>
            <mat-select>
              <mat-option *ngFor="let prefix of prefixList" [value]="prefix.key">
                {{prefix.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="45">
            <input matInput placeholder="ALIAS NAME" value="Sushi">
          </mat-form-field>
          <mat-form-field fxFlex="20" fxFlexOffset="5">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
          <mat-form-field fxFlex="20" fxFlexOffset="5">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="45">
            <input matInput [matDatepicker]="picker1" placeholder="{{label}} From">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <mat-form-field fxFlex="20" fxFlexOffset="5">
            <mat-label>Prefix</mat-label>
            <mat-select>
              <mat-option *ngFor="let prefix of prefixList" [value]="prefix.key">
                {{prefix.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="20" fxFlexOffset="5">
            <mat-label>Prefix</mat-label>
            <mat-select>
              <mat-option *ngFor="let prefix of prefixList" [value]="prefix.key">
                {{prefix.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-radio-group aria-label="Select an option" fxFlex="45" fxLayoutAlign="space-around center">
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
            <mat-radio-button value="3">Option 3</mat-radio-button>
          </mat-radio-group>

          <mat-form-field fxFlex="45" fxFlexOffset="5">
            <mat-label>Prefix</mat-label>
            <mat-select>
              <mat-option *ngFor="let prefix of prefixList" [value]="prefix.key">
                {{prefix.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row nowrap" fxLayoutAlign="start center">
          <mat-form-field fxFlex="45" *ngFor="let nationality of nationalityList">
            <mat-label>Prefix</mat-label>
            <mat-select>
              <mat-option *ngFor="let nation of nationList" [value]="nation.key">
                {{nation.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
    <button type="submit" class="btn btn-success">Submit</button>

  </form>
